<html> 
  <head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 
    <title>Saito Network: Blockchain Explorer</title> 
    <link rel="stylesheet" type="text/css" href="/saito/saito.css" /> 
    <link rel="stylesheet" type="text/css" href="/explorer/style.css" /> 
    <link rel="stylesheet" type="text/css" href="/saito/lib/jsonTree/jsonTree.css" /> 
    <link rel="stylesheet" href="/saito/lib/font-awesome-5/css/all.css" type="text/css" media="screen"> 
    <script src="/explorer/utils.js"></script> 
    <script src="/saito/lib/jsonTree/jsonTree.js"></script> 
    <link rel="icon" sizes="192x192" href="/saito/img/touch/pwa-192x192.png"> 
    <link rel="apple-touch-icon" sizes="192x192" href="/saito/img/touch/pwa-192x192.png"> 
    <link rel="icon" sizes="512x512" href="/saito/img/touch/pwa-512x512.png"> 
    <link rel="apple-touch-icon" sizes="512x512" href="/saito/img/touch/pwa-512x512.png"></link> 
  </head> 

  <body> 
    

        <div style="margin-top: 30px; margin-left: 30px";>
            <h1><%= content %></h1>
            <br><br>
            <p>network status...</p>
            <p>latest_block_id <%= latest_block_id %></p>
            <p>mining_active <%= mining_active %></p>
            <br><br>
            <p>publickey <%= publickey %></p>
            <p>balance <%= balance %></p>
            <br><br>
            <h1>Blocks</h1>
            <h1>Mempool</h1>
            
        </div>

</body>
</html>    